h3{
  color: white;
}
body{
  background: black ;
}
h4{
  color: white ;
}
smal{
  color: white ;
}
a {
  background-color: #25D366;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 10px;
}content://com.android.externalstorage.documents/tree/primary%3ABelajar.html%2FINDEX.HTML::primary:Belajar.html/INDEX.HTML/style.css
